# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.log
*.pth
*.pkl
*.pt
*.onnx
.DS_Store

# Virtual environments
venv/
.env/
.venv/

# Logs and outputs
*.log

# Tensorboard logs
runs/*
!runs/**/*.ipynb
